// This is a general style file - share different colors, sizes, etc.
@import '../../shared/styles/generalStyles.scss';

// Variables
$blue: #219DDB;
$white: #FFF;
$brown: #482F30;

.contentPuppies {
  height: 225px;
  width: 100%;
  text-align: left;
  position: relative;

  .line {
    position: absolute;
    bottom: 20px;
    height: 20px;
    width: 100%;
    background-color: $blue;

    .puppies {
      margin: 0px;
      position: absolute;
      top: -150px;
      list-style: none;
      width: 100%;
      height: 50px;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      padding-left: 0px;
      text-align: center;

      li {
        display: inline-block;
        list-style: none;
      }
    }
  }
}

@media screen and (max-width: $breakPoint) {
  .contentPuppies {
    .line {
      .puppies {
        margin: 0 auto;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -84%);
        margin-top: -118px;

        li {
          &:nth-child(1) {
            display: none;
          }
          &:nth-child(3) {
            display: none;
          }
          &:nth-child(4) {
            display: none;
          }
          &:nth-child(6) {
            display: none;
          }
          &:nth-child(7) {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $specialBreakPoint) {
  .contentPuppies {
    .line {
      .puppies {
        margin: 0 auto;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -84%);
        margin-top: -118px;

        li {
          &:nth-child(1) {
            display: none;
          }
          &:nth-child(2) {
            display: none;
          }
          &:nth-child(3) {
            display: none;
          }
          &:nth-child(4) {
            display: none;
          }
          &:nth-child(6) {
            display: none;
          }
          &:nth-child(7) {
            display: none;
          }
          &:nth-child(8) {
            display: none;
          }
        }
      }
    }
  }
}
