// This is a general style file - share different colors, sizes, etc.
@import '../../shared/styles/generalStyles.scss';

// Gallery styles
.contentGallery {
	height: 100%;
	width: 100%;
	position: relative;
  padding-left: 40px;
	margin-bottom: 300px;

  .options {
	  //border: 1px solid red;
	  width: 90%;
	  height: 480px;

    .mousescroll {
    	height: 60px;
    	background-color: $brown;
    	text-align: center;
    	color: $white;
    }

    .scroll {
      width: 100%;
      height: 390px;
      overflow-y: scroll;
      //border: 1px solid green;
      display: block;
      margin: 0 auto;

      .list {
      	list-style-type: none;
        padding: 0px;
        display: inline-block;

        li {
          display: inline-block;
          margin: 1%;
          width: 140px;
          height: 140px;
          border-bottom: 3px solid $blue;
          text-align: center;

          &:hover {
            border-bottom: 3px solid $brown;
            cursor: pointer;

            span {
              color: $brown;
            }
          }

          .thumbnail {
            width: 100%;
            height: 100px;
            object-fit: contain;
          }

          span {
            text-transform: capitalize;
            color: $blue;
            font-family: 'Montserrat', sans-serif;
            vertical-align: -webkit-baseline-middle;
          }

          .hide {

            .container {
              visibility: visible;

              position:fixed;
              padding:0;
              margin:0;

              top:0;
              left:0;

              width: 100%;
              height: 100%;
              background:rgba(255,255,255,0.5);

              .image {
                width: 200px;
                height: 200px;
              }
            }
          }
        }
      }
    }
  }
}

/* Mediaqueries */
@media (max-width: $breakPoint) {
  .contentGallery {
    border: 1px solid pink;
    height: auto;

    .options {
  		display: block;
  		position: inherit;
  		margin: 0 auto;
  		margin-top: 30px;
      width: 100%;
      height: 210px;

      .scroll {
    		width: 100%;
    		height: 145px;
    		border: 1px solid blue;

        .list {
      		display: block;

          li {
        		display: inline-block;

            a {
              .show {
            		position: absolute;
                top: -433px;
                display: block;
                margin: 0 auto;
                left: inherit;
                width: 605px;
                height: 400px;
                left: 50%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
                left: 50%;

                .max {
                  left: 50%;
                  -webkit-transform: translateX(-50%);
                  transform: translateX(-50%);
                  margin-top: 0px;
                }

                &:hover {
                  display: none;
                }
            	}
            }
        	}
      	}
    	}
  	}
  }
}
