// Variables
$blue: #219DDB;
$white: #FFF;
$brown: #482F30;

// Breackpoints
$breackPointOne: 1279px;

// Flexbox wrapper
.contentGallery {
	border-top: 1px solid $blue;
	height: 500px;
	width: 100%;
	position: relative;
  padding-left: 40px;

  .view {
    width: 605px;
    height: 400px;
    position: absolute;
    top: 0px;
    left: 35%;
    background: url('./gallery.jpg');
    border: 1px solid green;
    margin-top: 60px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .options {
	  border: 1px solid red;
	  width: 300px;
	  height: 480px;

    .mousescroll {
    	height: 60px;
    	background-color: $brown;
    	text-align: center;
    	color: $white;
    }

    .scroll {
    	width: 300px;
    	height: 390px;
    	overflow-y: scroll;
    	border: 1px solid green;

      .list {
      	list-style-type: none;
      	margin: 0 0 30px 30px;
      	padding: 0px;
      	float:left;

        li {
          &:hover {
            .show {
              .max {
                visibility: visible;
              }
            }
          }

          a {
            .min	{
              width: 100px;
              height: 85px;
              margin-top: 5px;
            }

            .show {
              .max {
                width: 100%;
                height: 100%;
                object-fit: contain;

                position: absolute;
                top: 0px;
                left: 35%;
                visibility: hidden;
                margin-top: 60px;
                border: 1px solid orange;
              }
            }
          }
        }
      }
    }
  }
}

/* Mediaqueries */
@media (max-width: $breackPointOne) {
  .contentGallery {
    border: 1px solid pink;
    height: auto;

    .view	{
  		position: inherit;
  		display: block;
  		margin: 0 auto;
  		left: inherit;
  	}

    .options {
  		display: block;
  		position: inherit;
  		margin: 0 auto;
  		margin-top: 30px;
      width: 100%;
      height: 210px;

      .scroll {
    		width: 100%;
    		height: 145px;
    		border: 1px solid blue;

        .list {
      		display: block;

          li {
        		display: inline-block;

            a {
              .show {
            		position: absolute;
                top: -433px;
                display: block;
                margin: 0 auto;
                left: inherit;
                width: 605px;
                height: 400px;
                left: 50%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
                left: 50%;

                .max {
                  left: 50%;
                  -webkit-transform: translateX(-50%);
                  transform: translateX(-50%);
                  margin-top: 0px;
                }

                &:hover {
                  display: none;
                }
            	}
            }
        	}
      	}
    	}
  	}
  }
}
