// This is a general style file - share different colors, sizes, etc.
@import '../../shared/styles/generalStyles.scss';

// Gallery styles
.contentGallery {
	height: 170%;
	width: 100%;
	position: relative;
	margin-bottom: 250px;

  .options {
	  width: 90%;
	  height: 480px;
    margin-left: 40px;
    display: block;
    margin: 0 auto;

    .mousescroll {
    	height: 60px;
    	background-color: $blue;
    	color: $white;

      .mouse {
        width: 3px;
        padding: 10px 9px;
        height: 15px;
        border: 2px solid #fff;
        border-radius: 25px;
        opacity: .5;
        box-sizing: content-box;
        margin: 0 auto;
        float: right;
        margin-right: 20px;
        margin-top: 10px;

        .scroller {
          width: 3px;
          height: 10px;
          border-radius: 25%;
          background-color: #fff;
          animation: scroller 2.2s cubic-bezier(0.15, 0.41, 0.69, 0.94) infinite;
          -webkit-animation: scroller 2.2s cubic-bezier(0.15, 0.41, 0.69, 0.94) infinite;
        }
      }
    }

    .scroll {
      background-color: $lightGrey;
      width: 100%;
      height: 390px;
      overflow-y: scroll;
      display: block;
      margin: 0 auto;

      .list {
      	list-style-type: none;
        padding: 0px;
        display: inline-block;
				text-align: center;

        li {
          display: inline-block;
          margin: 1%;
          width: 140px;
          height: 140px;
          border-bottom: 3px solid $blue;
          text-align: center;


          &:hover {
            border-bottom: 3px solid $brown;
            cursor: pointer;

            span {
              color: $brown;
            }
          }

          .thumbnailImage {
            width: 100%;
            height: 100px;
            object-fit: contain;
          }

          .name {
            text-transform: capitalize;
            color: $blue;
            font-family: 'Montserrat', sans-serif;
            vertical-align: -webkit-baseline-middle;
          }


          .hide {
            display: none;
          }

          .show {
            overflow: hidden;
            position:fixed;
            padding:0;
            margin:0;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.14);
            display: block;

            overflow: hidden;
            position: fixed;
            width: 100%;
            height: 100%;

            .selectedContainer {
              width: 600px;
              height: 550px;
              margin: 0 auto;
              margin-top: 5%;

              .close {
                width: 60px;
                height: 60px;
                background-color: black;
                line-height: 60px;
                color: $white;
                font-family: 'Montserrat', sans-serif;
                float: right;
                font-size: 30px;

                &:hover {
                  color: rgba(191, 189, 176, 0.51);
                }
              }

              .image {
                object-fit: contain;
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }
}

/* Animation for scroll */
@keyframes scroller {
  0% {
    opacity: 0;
  }

  10% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

/* Mediaqueries */
@media (max-width: $breakPoint) {
	.contentGallery {
		.options {
			display: block;
			margin: 0 auto;
		}
	}
}

@media screen and (max-width: $iphone6) {
  .contentGallery {
    .options {
      .scroll {
        .list {
          li {
            .show {
              .selectedContainer {
                .image {
                  width: 300px;
                  height: 300px;
                }
              }
            }
          }
        }
      }
    }
  }
}
